@tailwind base;
@tailwind components;
@tailwind utilities;

div > a.active {
  color: #222831;
  font-weight: bold;
}

.nav-div > a {
  position: relative;
  text-decoration: none;
}

.nav-div > a::after {
  content: "";
  position: absolute;
  background-color: #03045e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: all 0.5s ease;
}

a:hover::after {
  width: 100%;
}

.anim-div > div > svg {
  max-width: 700px !important;
}
